{% extends "base.html" %}
{% block body %}
{% if errors %}
{% for error, messages in errors.items() %}
<strong>{{ error }}:</strong>
{% for message in messages %}
{{ message }}
{% endfor %}
{% endfor %}
{% endif %}

<form method="POST" action="{{ url_for('edit_day', id=day.id) }}">
    {{ form.hidden_tag() }}
    {{ form.date.label }} {{ form.date() }}<br/>
    {{ form.breakfasts.label }} {{ form.breakfasts() }}<br/>
    {{ form.lunches.label }} {{ form.lunches() }}<br/>
    {{ form.dinners.label }} {{ form.dinners() }}
    <input type="submit" value="Go">
</form>
{% endblock %}
