{% extends "base.html" %}
{% block body %}
{% if errors %}
{% for error, messages in errors.items() %}
<strong>{{ error }}:</strong>
{% for message in messages %}
{{ message }}
{% endfor %}
{% endfor %}
{% endif %}

<form method="POST" action="{{ url_for('submit_recipe') }}">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name(size=50) }}<br/>
    {{ form.source.label }} {{ form.source() }}<br/>
    {{ form.category.label }} {{ form.category() }}
    <input type="submit" value="Go">
</form>
{% endblock %}
